@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

.signin .row {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.signin .row > div:first-child {
  padding: 0px;
  height: 100%;
  display: flex;
  max-width: 54%;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-color: #0a73b7;
  background-repeat: no-repeat;
  background-image: url(images/login-banner.jpg);
}

.signin .row > div:last-child {
  display: flex;
  overflow: auto;
  max-width: 46%;
  max-height: 100vh;
  padding: 0 0 0 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.signin .row > div:last-child > div:first-child svg {
  font-size: 55px;
  margin-top: 35px;
  color: #0a73b7;
}

.signin .row h2 {
  font-size: 70px;
  font-weight: 900;
  color: #0a73b7;
  margin: 50px 0px 35px;
}

.signin .row h2 span {
  color: #89c343;
}

.signin .row h4 {
  font-size: 28px;
  font-weight: 700;
}

.signin #authBtn,
.signin #gotoBtn {
  width: 350px;
  font-size: 16px;
  box-shadow: none;
  margin-top: 20px;
  font-weight: 700;
  border-radius: 30px;
  font-family: Roboto;
  text-transform: none;
  background-color: #0a73b7;
}

.signin #authBtn:hover {
  background-color: #0a73b7cc;
}

.signin #tc {
  font-size: 11px;
  max-width: 350px;
  color: #536471;
  margin: 10px 0px 50px 0px;
}

.signin #tc Link {
  color: #0a73b7;
}

.signin h6 {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0 15px 0;
}

.signin #gotoBtn {
  color: #000;
  margin: 0 0 50px 0;
  border-color: #cfd9de;
  background-color: #fff;
}

.signin #gotoBtn:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.signin #errorMsg {
  max-width: 350px;
}

.Toastify {
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .signin .row {
    height: auto;
    flex-direction: column-reverse;
  }
  .signin .row > div {
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }
  .signin .row > div:last-child {
    margin: auto;
    padding: 0px;
    max-width: 80% !important;
  }
  .signin .row > div:first-child svg {
    padding: 70px 0px;
  }
}

@media only screen and (max-width: 450px) {
  .signin .row h2 {
    font-size: 45px;
  }
  .signin .row h4 {
    font-size: 24px;
  }
  .MuiFormControl-root,
  .MuiButton-root {
    max-width: 100%;
  }
}

/* Dasboard */

.sidebar {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  z-index: 100;
  position: fixed;
  transition: width 300ms;
  background: #04aa6d;
}

.sidebar-brand {
  height: 90px;
  margin: auto;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 1rem 0rem 1rem 2rem;
}

.sidebar-brand span#logo {
  padding: 5px;
  cursor: pointer;
  font-size: 35px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: -0.8rem;
  display: inline-block;
  color: #04aa6d;
  background-color: white;
  transform: translateY(5px);
}

#resnamedb {
  top: 25px;
  font-weight: 600;
  position: absolute;
  font-family: Poppins;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu li {
  width: 100%;
  cursor: pointer;
  padding-left: 1rem;
  margin-bottom: 1.3rem;
  list-style-type: none;
}

.sidebar-menu a {
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  padding-left: 1rem;
  pointer-events: none;
}

.sidebar-menu a.active {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #04aa6d;
  background-color: #fff;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu button.signout {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  color: #04aa6d;
  background-color: #fff;
  border: none;
  text-align: left;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu li a svg {
  font-size: 24px;
  padding-right: 1.5rem;
  width: auto !important;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

.main-content {
  margin-left: 300px;
  transition: margin-left 300ms;
}

header {
  top: 0;
  left: 300px;
  z-index: 100;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: left 300ms;
  width: calc(100% - 300px);
  background-color: white;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header h2 {
  color: #04aa6d;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: Poppins;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  height: 50px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  border: 1px solid #f0f0f0;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 30px;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
  filter: brightness(115%);
}

.user-wrapper h4 {
  margin-top: 10px;
  line-height: 10px;
  font-family: Poppins;
  font-size: 20px;
  margin-bottom: 3px;
}

.user-wrapper small {
  display: inline-block;
  color: #8390a2;
}

.tabSections {
  margin-top: 60px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 60px);
}

.cards {
  display: grid;
  grid-gap: 2rem;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.card-single {
  display: flex;
  padding: 2rem;
  border-radius: 2px;
  background: white;
  justify-content: space-between;
}

.card-single h1 {
  font-family: Poppins;
}

.card-single div:first-child span {
  color: #8390a2;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: #04aa6d;
}

.card-single.highlight {
  background: #04aa6d;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
  color: #fff;
}

.recent-grid {
  display: grid;
  grid-gap: 2rem;
  margin-top: 3.5rem;
  grid-template-columns: 65% auto;
}

.card {
  background: #fff;
}

.card-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #04aa6d;
  justify-content: space-between;
}

.card-header h2,
.card-header h4 {
  color: #fff;
  font-size: 20px;
  font-family: Poppins;
  margin-bottom: 0px;
}

.card-header button {
  color: #fff;
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #04aa6d;
  border: 1px solid #04aa6d;
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  color: #222;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

tr:hover {
  cursor: pointer;
  background-color: ghostwhite;
}

td .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

.status.purple {
  background: rebeccapurple;
}

.status.pink {
  background: deeppink;
}

.status.orange {
  background: orange;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.customer {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  justify-content: space-between;
}

.customer:hover {
  cursor: pointer;
  background-color: ghostwhite;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 0.7rem;
}

.info h4 {
  color: #222;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 0px;
  font-family: Poppins;
}

.info small {
  font-size: 0.8rem;
  color: #8390a2;
}

.contact span {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  display: inline-block;
  color: #04aa6d;
}

.company {
  width: 100%;
  display: none;
  margin-top: 50px;
  padding: 50px 0px;
  align-items: center;
  justify-content: center;
  color: #04aa6d;
}

.company h1 span {
  padding: 5px;
  color: white;
  font-size: 45px;
  margin-right: 10px;
  border-radius: 50%;
  transform: translateY(5px);
  background-color: #04aa6d;
}

.addDishTitle {
  border: 0px;
  padding: 0px;
  margin: 35px 0px 0px;
  background-color: transparent;
}

.addDishTitle h2 {
  color: #04aa6d;
  font-size: 28px;
}

.addDish {
  grid-gap: 1rem;
  height: 300px;
  grid-template-columns: repeat(3, 2fr);
}

.addDish .card-single {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #faf7f8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addDish .card-single i {
  font-size: 7em;
  color: lightgray;
  margin-bottom: 10px;
}

.addDish .card-single h4 {
  font-size: 22px;
  font-weight: 400;
  color: lightgray;
  font-family: Poppins;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }
  header h2 label {
    display: none !important;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar-brand span#logo {
    margin-left: 0px;
  }
  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }
  .main-content {
    margin-left: 70px;
  }
  .main-content header {
    left: 70px;
    width: calc(100% - 70px);
  }
  .info h4 {
    line-height: normal;
  }
  .sidebar:hover {
    width: 300px;
    z-index: 200;
  }
  .sidebar-brand:hover,
  .sidebar:hover li {
    text-align: left;
  }
  .sidebar:hover .sidebar-brand h2 span:last-child,
  .sidebar:hover li a span:last-child {
    display: inline;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .company {
    display: flex;
  }
  .cards {
    grid-template-columns: 100%;
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }
  header h2 {
    display: flex;
    align-items: center;
  }
  header h2 label {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    margin-right: 1rem;
    padding-right: 0rem;
    align-items: center;
    justify-content: center;
    display: flex !important;
    background: #04aa6d;
  }
  header h2 span {
    padding-right: 0rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
  }
  main {
    margin-top: 0px !important;
  }
  header {
    left: 0px !important;
    width: 100% !important;
  }
  .sidebar {
    pointer-events: none;
  }
  #nav-toggle:checked + .sidebar {
    z-index: 100;
    width: 300px;
    left: 0px !important;
  }
  #nav-toggle:checked + .sidebar:hover {
    width: 300px;
    z-index: 200;
  }
  .sidebar .sidebar-brand {
    margin-top: 80px;
  }
  .sidebar-menu {
    margin-top: 10px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li {
    text-align: left;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 560px) {
  header {
    padding: 1rem 0.8rem;
  }
  header h2 {
    font-size: 1.1rem;
  }
  header h2 label {
    margin-right: 0.5rem;
  }
  .user-wrapper img {
    width: 45px;
    margin-right: 0.5rem;
  }
  main {
    margin-top: 55px;
  }
  td {
    font-size: 0.59rem;
  }
  .customer .info h4 {
    line-height: 5px;
    font-size: 0.72rem;
  }
  .customer .info small {
    font-size: 0.65rem;
  }
}
